@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("intro.css");
:root {
  --kt-app-sidebar-width: 200px;
  user-select: none;
}
* {font-family: "Quicksand", sans-serif;}
body {
  position: relative;
  background: #171E41;
  overflow-y: auto;
  overflow-x: hidden;
  /*cursor: url("./images/ico-circle-25.png")5 5, auto;*/
}

/* 마우스 포인터 */
.cursor {
  width: 40px;
  height: 40px;
  position: fixed;
  /*z-index: 99;*/
  border: 2px solid #fff;
  border-radius: 100%;
  will-change: transform;
}

/* 배경 이펙트 */
.snow {
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 3px 3px white;
}



/* 모바일 가로 모드 */
@media (min-width: 576px) {

}
/* 태블릿 디바이스 */
@media (min-width: 768px) {

}
/* 데스크탑 */
@media (min-width: 992px) {

}
/* 큰화면 데스크탑 */
@media (min-width: 1200px) {

}