@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
* {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.font-gradient {
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 0.3rem;
  background: linear-gradient(128.93deg, rgb(58, 199, 217) 22.41%, rgb(173, 142, 255) 93.45%) text;
  -webkit-text-fill-color: transparent;
}