/* hamburger-icon */
.three { width: 23.8%; }
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-of-type { margin-left: 0; }
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.row .three{
  color: #ecf0f1;
  text-align: center;
}
.hamburger .line{
  width: 35px;
  height: 5px;
  background-color: #bebebe;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}
.hamburger:hover{
  cursor: pointer;
}
#hamburger.is-active{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#hamburger.is-active .line:nth-child(2){ width: 0px; }
#hamburger.is-active .line:nth-child(1),
#hamburger.is-active .line:nth-child(3){
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
#hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}
#hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

/* mouse-icon */
.mouse-scroll {
  width: 80px;
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translateX(-80px) translateY(-100px);
  transition: 0.5s ease all;
  animation: 1.5s ease-in-out scrollMove infinite;
  filter: invert(1);
}
@keyframes scrollMove {
  0% { opacity: 0.2; }
  20% { opacity: 0.4; }
  30% { opacity: 0.2; }
  50% {
    opacity: 0.4;
    transform: translateX(-80px) translateY(-110px);
  }
  100% { opacity: 0.4 }
}
