/* animation */
.main-top-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.ring {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring i {
  position: absolute;
  inset: 0;
  border: 1px solid #fff;
  transition: 0.3s;
}
.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.ring:hover i {
  border: 2px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.login {
  position: absolute;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.login h2, .login h3, .login h4 {
  color: #fff;
}
.login h2 {
  font-size: 2em;
}
.login h3 {
  font-size: 1.7em;
}
.login h4 {
  font-size: 1.4em;
  font-weight: 300;
}
.login .inputBx {
  position: relative;
  width: 100%;
  text-align: center;
  display: none;
}
.login .inputBx input {
  position: relative;
  width: 70%;
  padding: 12px 20px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 40px;
  box-shadow: none;
  color: #fff;
  outline: none;
  margin-top: 1rem;
  font-size: 1.12rem;
  font-weight: 300;
  text-align: center;
  cursor: default;
  user-select: none;
  transition: 0.7s ease all;
}
.login .inputBx input:hover {
  border: 2px solid #01fdcf;
  filter: drop-shadow(0 0 2px #01fdcf);
}
.login .inputBx input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.login .links a {
  color: #fff;
  text-decoration: none;
}


/* introDetailView */
.detail-section {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.intro-detail {
  position: relative;
  width: 80%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.detail-contain:first-of-type {
  justify-content: flex-start;
  align-items: flex-start;
}
.my-avatar {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: url("./images/avatar01.png") 50% 50% no-repeat;
  background-size: 100%;
  margin: 5rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s ease all;
  color: rgba(255, 255, 255, 0);
  cursor: pointer;
  animation: avatarBorder 2s ease-in-out infinite;
}
.my-avatar:hover {
  color: #FFF;
  background: rgba(51, 51, 51, 0.45);
  z-index: 2;
}
@keyframes avatarBorder {
  10% {
    border-radius: 80px;
    box-shadow: 0 0 50px rgba(61, 53, 125, 0.81);
  }
  100% {
    box-shadow: none;
    border-radius: 100%;
  }
}
.avatar-label {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  font-size: 1.125rem;
  color: #FFF;
  background-color: rgb(39,37,37);
  box-shadow: 0 0 5px rgb(174,165,246) ;
  border-radius: 0.3rem;
  margin: 5rem;
  padding: 0.5rem 0;
  writing-mode: vertical-lr;
  transform: rotate(-140deg)
}

/* 모바일 가로 모드 */
@media (max-width: 576px) {
  .my-avatar {}
  .avatar-label {}
}
/* 태블릿 디바이스 */
@media (max-width: 768px) {
  .my-avatar {}
  .avatar-label {}
}
/* 데스크탑 */
@media (max-width: 992px) {
  .my-avatar {width: 200px;height: 200px;}
  .avatar-label {}
}
/* 큰화면 데스크탑 */
@media (max-width: 1200px) {
}